/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75) !important;
  top: -6px !important;
}

/* Side bar title */
.composite.title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-items: center !important;
}

.composite.title h2 {
  font-weight: bold !important;
  font-size: 12px !important;
  color: rgba(235, 188, 186) !important;
}

.composite.title h2::before {
  display: inline-block;
  margin-right: 6px;
  font-size: 1.1rem;
  content: "☆";
}

/* Tooltip box*/
.monaco-editor-hover,
.monaco-hover {
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45) !important;
  padding: 6px !important;
  background-image: linear-gradient(#000 0%, #1d1c2c 100%) !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
  border: none !important;
  color: white !important;
}

/* Command Palette */
.quick-input-filter .monaco-inputbox {
  border-radius: 12px !important;
  padding: 8px !important;
  border: none !important;
  background-color: rgba(30, 28, 44, 255) !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  /* font-family: "Geist Mono" !important; */
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

#command-blur {
  position: absolute !important;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
  padding: 10px 10px 18px 10px !important;
  background-image: linear-gradient(#000 0%, #171521 100%) !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
  padding: 10px 10px 18px 10px !important;
  background-image: linear-gradient(#000 0%, #171521 100%) !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
}

/* Remove background for lists */
.monaco-list-rows {
  background: transparent !important;
}

/* List hover */
.monaco-list-row:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.notifications-toasts .monaco-list-row:hover {
  background: none !important;
}

.tab-actions-right.active {
  background: rgba(48, 113, 143, 0.6) !important;
}

.extension-view-header h3 {
  color: rgba(235, 188, 186) !important;
}

.pane-header {
  color: rgba(235, 188, 186) !important;
}

.composite-bar ul.actions-container li a::before {
  font-size: 20px !important;
}

.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-label {
  mask-size: 20px !important;
}

/** File tabs */

/* Space between each tab */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
  gap: 6px !important;
}

/** Round borders */
.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab:not(.selected):hover,
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active {
  border-radius: 20px !important
}

/** End file tabs */

/** CUSTOM ERROR OVERLAY */

#my-error-overlay {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgb(255 144 144 / 30%);
  border-radius: 20px;
  z-index: 4;
  padding: 4px 16px;
  font-size: 10px;
}
